  /* 全局样式 */
  body {
      margin: 0;
      font-family: Arial, sans-serif;
  }

  div {
      display: block;
  }

  #main-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      padding-top: 3rem;
  }

  .title{
    font-size: 2rem;
  }
  .c-grid {
      display: grid;
      width: 100%;
      grid-template-columns: 5fr 1fr;
      /* 假设我们想要我们的行都是一个固定的高度 - 如果我们想要高度响应地根据内容变化，可以保留为默认的 `auto` */
      gap: 20px;
      padding-left: 1rem;
      margin-bottom: 1rem;

  }

  .clipboard-content {
      padding: 0.5rem;
      border: 1px solid #eee;
      width: 40rem;
      word-wrap: break-word;

  }

  .clipboard-content span {
      font-size: 20px;
  }
  .flex-center{
    display: flex;
    justify-content: center;
  }
  .space{
    margin: 0 0.5rem 0 0.5rem;
  }
  .left-border{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #clipboard-text{
    width: 50vw;
    height: 30vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }