<div class="flex-center">
    <span class="title">Add Content</span>
</div>
            <div class="flex-center">
              <textarea id="clipboard-text"></textarea>
            </div>
            <div class="flex-center">
                <button type="button" class="btn btn-primary btn-nav btn-add" style="width: 5rem;"><span>添加</span></button>
            </div>
    <script>
    $(document).ready(function () {
        $(".btn-add").on('click', function () {
            // 获取文本区域元素
            const textarea = document.getElementById('clipboard-text');

            // 获取文本区域的内容
            const textContent = textarea.value;
            fetch("/content", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ content: textContent }),
            }).then(response => response.json())
                .then(data => {
                    console.log(data.message)
                    $(this).text("已添加");
                    // 恢复按钮文本为原始文本
                    setTimeout(() => {
                        $(this).text("添加");
                    }, 2000);
                })
            });
        
});
    </script>