
    <div class="flex-center">
        <span class="title">Clipboard Content</span>
    </div>
    {% for item in clipboard_list %}
    {% if item.type == "file" %}
    <div class="c-grid">
        <div id="{{item.uuid}}" class="clipboard-content">
            <span>{{ item.filename }}</span>
        </div>
        <div class="left-border">
            <a id="btn-{{item.uuid}}" href="/download/{{item.filename}}" type="button" class="btn btn-primary btn-download" style="width: 5rem;">下载</a>
        </div>
    </div>
    {% elif item.type == "string" %}
    <div class="c-grid">
        <div id="{{item.uuid}}" class="clipboard-content">
            <span>{{ item.content }}</span>
        </div>
        <div  class="left-border">
        <button id="btn-{{item.uuid}}" type="button" class="btn btn-primary btn-copy" style="width: 5rem;">复制</button>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <script>
        $(document).ready(function () {
                // 监听 .btn-copy 元素的点击事件
                $('.btn-copy').on('click', function () {
                    // 获取当前按钮的 id
                    var buttonId = $(this).attr('id');

                    // 替换掉 id 中的 'btn-'，得到新的 id
                    var targetId = buttonId.replace('btn-', '');

                    // 获取对应的节点
                    var targetNode = $('#' + targetId + " span");

                    // 创建一个临时文本区域
                    var tempTextarea = $('<textarea>');
                    tempTextarea.val(targetNode.text());

                    // 将临时文本区域添加到页面中
                    $('body').append(tempTextarea);

                    // 选择文本
                    tempTextarea.select();
                    tempTextarea[0].setSelectionRange(0, 99999); // 兼容移动端

                    // 复制文本到剪贴板
                    document.execCommand('copy');

                    // 移除临时文本区域
                    tempTextarea.remove();

                    // 弹出复制成功的提示
                    $(this).text("已复制");
                        // 恢复按钮文本为原始文本
                    setTimeout(() => {
                        $(this).text("复制");
                    }, 2000);
                });
                
            });
        
    </script>