<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- 引入 Bootstrap 的 CSS 文件 -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/color.css">
    <link rel="stylesheet" href="/static/css/iconfont.css">
    <script src="/static/js/vue@2.js"></script>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/poper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/axios.js"></script>
</head>

<body>
    <style>
        .clear-group{
            color: #007bff !important;
            cursor: pointer;
        }
    </style>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="/">主页</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/add_content">添加文本</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/upload_file">上传文件</a>
        </li>
        <li class="nav-item">
            <a class="nav-link clear-group" id="clear-text">清空文本</a>
        </li>
        <li class="nav-item">
            <a class="nav-link clear-group" id="clear-files">清空文件</a>
        </li>
        <li class="nav-item">
            <a class="nav-link clear-group" id="clear-clipboard">清空剪贴板</a>
        </li>
    </ul>
    <div class="m-container">
        <div class="side-area"></div>
        <main id="main-content" style="padding-bottom: 2rem;">
            {% include template_file%}
        </main>
        <div class="side-area"></div>
    </div>
<script>
           $(document).ready(function () {
                            // 监听 .btn-copy 元素的点击事件
               $('#clear-text').on('click', function () {
                   console.log("success")
                   fetch("/clear_text", {
                       method: 'POST',
                       headers: {
                           'Content-Type': 'application/json',
                       },
                       body: JSON.stringify({ command: "clear" }),
                   }).then(response => response.json())
                       .then(data => {
                           console.log(data.message)
                           setTimeout(() => {
                               window.location.reload()
                           }, 500);
                       })
               });
                               // 监听 .btn-copy 元素的点击事件
               $('#clear-files').on('click', function () {
                   console.log("success")
                   fetch("/clear_files", {
                       method: 'POST',
                       headers: {
                           'Content-Type': 'application/json',
                       },
                       body: JSON.stringify({ command: "clear" }),
                   }).then(response => response.json())
                       .then(data => {
                           console.log(data.message)
                           setTimeout(() => {
                               window.location.reload()
                           }, 500);
                       })
               });
                // 监听 .btn-copy 元素的点击事件
                $('#clear-clipboard').on('click', function () {
                    console.log("success")
                        fetch("/clear_clipboard", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ command: "clear" }),
                    }).then(response => response.json())
                        .then(data => {
                            console.log(data.message)
                            setTimeout(() => {
                                window.location.reload()
                            }, 500);})
                });
            });
      function showTips(message) {
            // 创建提示框
            // 如果保存成功，移除提示框
                var alertDiv = document.createElement('div');
                alertDiv.className = 'alert alert-success';
                alertDiv.textContent = message;
                // 设置提示框的样式，使其固定在页面底部
          alertDiv.style.position = 'fixed';
          alertDiv.style.bottom = '0';
          alertDiv.style.width = '100%';
                // 将提示框添加到页面的 body 中
                document.body.appendChild(alertDiv);
                window.scrollTo(0, document.body.scrollHeight);
                setTimeout(function () {
                    alertDiv.remove();
                }, 2000);
            }
</script>
</body>

</html>